*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    cursor: url('/cup-straw\ copy.svg'),auto;

    width: 100%;
    background: linear-gradient(black,black,#072d3e,#300820);
    color: white;
}

.logo{
    color: white;
    font-family: fantasy;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)),url(/berry.jpg);
    background-position: center;
    background-attachment: fixed;

}


nav{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    padding: 15px;
    gap: 55px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    color: #ffffff;
}
.menu:hover{
    color: purple;
    border-bottom: 3px solid rgb(119, 10, 119);
}
li input{
    position: absolute;
    top: 10%;
    border: none;
    padding: 0.7%;
    color: black;
    border-radius: 8px;
    transition: 0.5s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.yours{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}
.srch{
    position: relative;
    left: 90%;
}

.straw{
        -webkit-animation: bounce-in-top 1.1s both;
                animation: bounce-in-top 1.1s both;
}



.img{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5),#051118),url(/berry.jpg);
    height: 85vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    text-align: center;
    font-size: 4vw;
    background-position: center;
    background-attachment: fixed;
}

.img h2{
            -webkit-animation: bounce-in-top 1.1s both;
                    animation: bounce-in-top 1.1s both;
    
}
.img h2{
    animation: yourAnimation 3s ease-in-out 0s infinite normal none;

}



.img button{
    border-radius: 5px;
    padding: 2%;
    border: 2px solid white;
    color: white;
    background: rgba(0, 0, 0, 0.132);
    transition: 1s;
    cursor: url('/cup-straw\ copy.svg'),auto;

}
.img button:hover{
    cursor: url('/cup-straw\ copy.svg'),auto;
    color: black;
    background-color:#700a478d;
        -webkit-animation: jello-vertical 0.9s both;
                animation: jello-vertical 0.9s both;
}


.logs{
    display: flex;
}
.burger{
    display: none;
}

.body2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}

.card{
    width: 30%;
    text-align: center;
    margin-top: 5%;
    transition: 0.5s;
    
}
.card:hover{
    transform: scale(1.1);
    border-radius: 25px;

}

 .title ,.detail,button,p{
    margin-top: 5%;
}

.var{
    margin: 5% 0% 0% 5%;
}
.card button{
    padding: 2% 20% ;
    background-color: #0c324509;
    border: 3px solid white;
    color: white;
    transition: 1s;
}
.card button:hover{
    background-color:#700a478d;
    color: white;
}
li button{
    border: #3d0c29 2px solid;
    padding: 2%;
    display: none;
}

.detail{
    font-size: 1.4vw;
}






@media screen and (max-width: 800px) {
    nav{padding: 0;
        display: block;
        clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%);
        transition: 0.8s;
    }
    
    ul{
        background-color: black;
        display: block;
        padding: 15px;
        gap: 5px;
        list-style: none;
        z-index: 2;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);


      
    }
    .mine{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .card{
        margin: 5%;
        width: 40%;
        text-align: center;
    }
    li input{
        position: relative;
    left: 0%;
        border: none;
        padding: 2%;
        width: 80%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    }
    li img{
        display: none;
    }
    li button{
        padding: 1.5%;
        border: 5px;
        display: inline-table;
        border-radius: 10px;
        border: #75104d 3px solid;
        color: #7a1351;
        background-color: #30082022;
        transition: 0.6s;

    }

    li button:hover{
        background-color: #900c5b;
        color: white;
    }
    .searcha{
        position: relative;
        bottom: 40px;

    }
    .ul2{
        clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);

    }
    
    

    




    li{
        padding: 0;
        margin-top: 20px;
    }
    li a:hover{
        transition: 0.3s;
        color: #1c5c7b;
        background-color: #3d0c29;
        display: block;
        padding: 5px;
    }
    .menu:hover{
        color: #1c5c7b;
        border-bottom: 0px solid rgb(119, 10, 119);
    }
    .logs{
        padding: 15px;
        justify-content: space-between;
    }
    .burger{
        display: block;
    }

    .img{
        height: 45vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: fantasy;
        text-align: center;
        font-size: 5vw;
        background-position: center;
        background-attachment: fixed;
    }


    .text{
        position: relative;
        bottom: 50%;
    }

    .body2{
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .detail{
        font-size: 2vw;
    }
    
    

    

    
}



@keyframes yourAnimation{
    0% {
        transform:  translate(0,0);
    }
    25% {
        transform:  translate(0,-20px) rotate(5deg);
    }
    50% {
        transform:  translate(0,-5px);
    }
    75% {
        transform:  translate(0,-15px) rotate(-5deg);
    }
    100% {
        transform:  translate(0,0);
    }
}





/* ----------------------------------------------
 * Generated by Animista on 2022-9-30 12:4:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }



  /* ----------------------------------------------
 * Generated by Animista on 2022-9-30 12:10:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  

